{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="row" style="margin-top: 50px;">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Login:</h2>
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 50px;">
    <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
</div>
{% endblock %}